%h1 Listing trips

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Location
      %th Date
      %th User
      %th
      %th
      %th

  %tbody
    - trips.each do |trip|
      %tr
        %td= link_to trip.name, trip_path(trip)
        %td= trip.description
        %td= trip.location
        %td= trip.date
        %td= trip.user
        %td.action-buttons= link_to 'Places', trip_places_path(trip), class: 'btn btn-default'
        %td.action-buttons= link_to 'Edit', edit_trip_path(trip), class: 'btn btn-primary'
        %td.action-buttons= link_to 'Destroy', trip, class: 'btn btn-danger', method: :delete, data: { confirm: :'Are you sure?' }

%br

= link_to 'New Trip', new_trip_path, class: 'btn btn-success'
