%h1= trip.name

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Url
      %th Description
      %th Price
      %th User
      %th
      %th
      %th

  %tbody
    - places.each do |place|
      %tr
        %td= place.name
        %td= link_to 'Maps', place.url
        %td= place.description
        %td= place.price
        %td
          Created by
          = place.user
        %td.action-buttons= link_to 'Show', place, class: 'btn btn-default'
        %td.action-buttons= link_to 'Edit', edit_place_path(place), class: 'btn btn-primary'
        %td.action-buttons= link_to 'Destroy', place, class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Place', new_trip_place_path(trip), class: 'btn btn-success'
