%p#notice= notice

%p
  %b User:
  = place.user
%p
  %b Trip:
  = place.trip.name
%p
  %b Url:
  = place.url
%p
  %b Description:
  = place.description
%p
  %b Price:
  = place.price

= link_to 'Edit', edit_trip_place_path(place.trip, place), class: 'btn btn-primary'
\|
= link_to 'Back', trip_places_path(place.trip), class: 'btn btn-default'
